html, body {
    margin: 0px;
    background-color: #3b5f3c;
    color: white;
}


.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.pockerCard {
    position: relative;
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

#computadora-cartas, #jugador-cartas {
    height: 240px;
}

#divBotones{ 
    margin: 20px;
}

.wrapper {
    display: flex;
    margin-bottom: 10px;
  }
  
  .wrapper .icon-container {
    position: absolute; 
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    color: #121212;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgb(0 0 0 / 10%);
    cursor: pointer;
    font-size: 28px;
    text-decoration: none;
    opacity: 0.99;
    overflow: hidden;
  }
  .wrapper .icon-container.github{
    bottom: 20px;
    right: 10px;
  }

  .wrapper .icon-container.question {
    bottom: 100px;
    right: 10px;
  }

  
  .wrapper .icon-container::before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    top: 90%;
    left: -110%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    z-index: 1;
  }
  
  .wrapper .icon-container .icon {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    z-index: 2;
  }
  
  .wrapper .icon-container:hover .icon {
    color: #ffffff;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .wrapper .icon-container:hover::before {
    top: -10%;
    left: -10%;
  }
  
  .wrapper .icon-container.github:hover::before {
    background-color: #1b1f23;
  }

  .wrapper .icon-container.question:hover::before {
    background-color: #00a9af;
  }

  @media screen and (max-height: 800px) {
    .pockerCard {
      width: 120px;
      left: 100px;
      margin-left: -75px;
  }

  #computadora-cartas, #jugador-cartas {
    height: 200px;
  }

  .titulo {
    padding: 15px;
}
}
  
  @media screen and (max-height: 200px) {
    .wrapper .icon-container {
      width: 60px;
      height: 60px;
      margin: 0 5px;
      font-size: 18px;
    }

    .wrapper .icon-container.question {
      bottom: 90px;
    }

    .pockerCard {
      width: 90px;
      left: 100px;
      margin-left: -75px;
  }

  #computadora-cartas, #jugador-cartas {
    height: 150px;
  }

  .titulo {
    padding: 5px;
}

  }